div.ctctp-block .hidden {
	display: none;
}

div.find-box-inside {
	overflow:hidden;
	margin: 0px auto;
	clear: left;
	display:table;
}

div.find-box-inside .spinner {
	visibility: visible;
	margin:0 280px 0 280px;
	position: fixed;
	top: 50%;
}

#send-campaign-spinner {
	float: none;
}

.find-box table.wp-list-table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.find-box table.wp-list-table thead, .find-box table.wp-list-table tfoot {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

.find-box table.wp-list-table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.find-box table.wp-list-table tbody tr {
    width: 100%;
}

.find-box table.wp-list-table thead, .find-box table.wp-list-table tfoot, .find-box table.wp-list-table tbody tr {
    display: table;
    table-layout: fixed;
}

input.settings {
    width: 400px;
}

.dashicons-yes {
  content: "\f147";
  color: #e6b800;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: "dashicons";
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#campaign-status .updated {
  margin: 15px 0;
}